<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Plan your journey.">
    <meta name="keywords" content="travel app, journey, Shubham Prakash">
    <meta name="author" content="Shubham Prakash">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App- Shubham Prakash</title>
</head>

<body>

    <header>
        <div class="text">
            Travel App
        </div>
    </header>

    <main>
        <section class="card card-hover">
            <section class="form">
                <div class="placeInput">
                    <strong>Place:</strong>
                    <input
                        id="place"
                        type="text"
                        name="place"
                        value=""
                        placeholder="Name of the Place"
                    />
                    <br/>
                    <br/>
                    <strong>Trip date:</strong>

                    <input
                        id="date"
                        type="date"
                        name="date"
                    />
                </div>

                <div class="noteInput">
                    <strong>Add Note:</strong>

                    <textarea
                        id="note"
                        value=""
                        placeholder="Note"
                        rows="5"
                    >
                    </textarea>
                </div>

                <div class="submitInput">
                    <button id="submit-btn">Add Trip</button>
                </div>
            </section>

            <section id="result-box">
                <div class="text-center"><strong>Saved trips</strong></div>
                <div id="results">
                </div>
            </section>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/ishubhamprakash/">Made with love by Shubham Prakash</a>
    </footer>

<script>
    // Enabling service worker if supported by the browser
    if ('serviceWorker' in navigator){
        window.addEventListener('load', () =>{
            navigator.serviceWorker.register('/service-worker.js')
            .then(registration =>console.log("Service worker registered",registration))
        })
    }
</script>
</body>
</html>
