body {
    min-height: 100vh;
    background: #E8E8E8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: 800px;
}


.text-center{
  width: 100%;
  text-align: center;
  margin: auto;
}

#results{
  background:#f2f2f2;
  padding: 0.8em;
  margin-top: 1em;
  border-radius: 8px;

  div{
    padding: 0.5em
  }

  span{
    font-weight: bold;
  }

  p{
    font-weight: normal;
    white-space: pre-wrap;
    color: rgb(41, 41, 43);

  }

  #article{
    padding-top: 1em;
  }
}

h1 {
  color: #2866ed;
  padding: 0.8em 0.2em;
}

h4 {
  color: #364561;
  line-height: 1.6;
  padding: 0.2em 1.8em;
  font-weight: normal;
}

.card {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    display: inline-block;
    margin: 1em auto;
  }
  
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.card-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2866ed;
  border-bottom: 16px solid #2866ed;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden{
  display: none;
}