body {
    min-height: 100vh;
    background: #E8E8E8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: 800px;
}


.text-center{
  width: 100%;
  text-align: center;
  margin: auto;
}

#results{
  background:rgb(255, 232, 232);
  margin-top: 1em;
  border-radius: 8px;

  span{
    font-weight: bold;
  }

  p{
    font-weight: normal;
    white-space: pre-wrap;
    color: rgb(41, 41, 43);

  }

}

h1 {
  color: #2866ed;
  padding: 0.8em 0.2em;
}

h4 {
  color: #364561;
  line-height: 1.6;
  padding: 0.2em 1.8em;
  font-weight: normal;
}

.card {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    display: inline-block;
    margin: 1em auto;
  }

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2866ed;
  border-bottom: 16px solid #2866ed;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden{
  display: none;
}


//Styles for trip card-

.trip{
  padding: 1em;
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          "photo  info"
           "note   info";


  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
            "photo"
            "info"
            "weather"
             "note";
  }

  &:nth-child(2n){
    background: rgb(231, 231, 231);
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.photo{
  grid-area: photo;
  width: 100%;

  img{
    width: 100%;
    height: auto;
  }
}

.note{
  grid-area: note;
  padding: 0.5em 0;

  p{
    padding: 0.5em;
    border: 1px solid gray;
  }
}

.info{
  grid-area: info;
  padding: 0.5em 1em;

  p{
    margin: 0.5em 0;
    font-size: 1.2em;
  }
}

.delete-btn{
  background: #fff;
  // padding: 1em;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1.4px rgb(231, 231, 231) solid;

  &:hover{
    color: red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}